* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

header {
  height: 100vh;
  overflow: hidden;
}

nav {
  background-color: #2f4882;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

}



/* ------------------ destaques ------------- */



/* ---------- Features --------------- */



/* --------------- Testimonials ---------------- */

/* ------------ Form de contato ----------- */



/* ------------ Footer ------------ */

