* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding-top: 70px;
  min-width: 375px;
  width: 100%;
}

nav {
  background-color: #2f4882;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.website-wrapper {
  overflow: hidden;
  width: 100%;
}

.colored-blue {
  color: #1368d6;
}