.sales-main-header {
    font-weight: 300;
}

.crm-title {
    font-weight: 400;
}

.sales-paragraph {
    color: #8a8a8a;
    line-height: 1.6;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}