#destaques {
  background-color: #a3d140;
  color: #fff;
  min-width: 100%;
  border-radius: 0 6rem 0 6rem;
}

.destaque-content {
  background-color: #bbe266;
  width: 100%;
  height: 100%;
}

#destaques .row > div h3 {
  font-size: 1.4em;
}
