#destaques {
  background-color: #a3d140;
  color: #fff;
  min-width: 100%;
  border-radius: 0 6rem 0 6rem;
}

.destaque-content {
  background-color: #bbe266;
  width: 100%;
  height: 100%;
}

.destaque-title {
  font-size: .9em;
}

@media (max-width: 768px) {
  #destaques {
    border-radius: 0;
  }
}

@media (min-width: 1024px) {
  .destaque-title {
    font-size: 1.4em;
  }
}

@media (min-width: 2000px) {

  .destaque-title {
    font-size: 2.4em;
  }
}