#testimonials {
  background-color: #1368d6;
}

.testimonial-img {
  width: 7%;
}

.testimonial-text {
  font-size: 1.8em;
  font-weight: 500;
  color: #fff;
}

.testimonial-person {
  color: #fff;
}

.carousel-content {
  width: 80%;
  height: 100%;
}

@media (max-width: 768px) {
  #testimonials {
    min-width: 350px;
  }

  .testimonial-text {
    font-size: 1em;
  }

  .testimonial-person {
    font-size: 0.7em;
  }
}

@media (min-width: 769px) {
  #testimonials {
    min-height: 450px;
  }
}
